**SETS** 
A set is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

A hash table is a data structure that stores key-value pairs, allowing for fast retrieval of values based on their keys. It uses a hash function to map keys to unique indices in an array, making data access efficient with average time complexity of O(1).
SETS does not support indexing

In [129]:
#Defining a set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [5]:
#A set cannot have any duplicate elements

set_var = {1,2,3,4,4,4,5,6,7,7,7}
print(set_var)

#If any duplicate elements are present, it will be taken as one element only

{1, 2, 3, 4, 5, 6, 7}

In [7]:
set_var = {'samsung', 'apple', 'motog', 'googlepixel'}
print(set_var)

{'apple', 'motog', 'samsung', 'googlepixel'}

In [9]:
#Sets donot support indexing

set_var[0]

TypeError: 'set' object is not subscriptable

In [131]:
set_var['apple'] #another example to say that sets donot support indexing

TypeError: 'set' object is not subscriptable

**Some Inbuilt functions**

In [11]:
# how do we add elements in sets

set_var.add("nothing")

In [13]:
set_var

{'apple', 'googlepixel', 'motog', 'nothing', 'samsung'}

In [54]:
set1 = {'samsung', 'apple', 'motog', 'googlepixel'}
set2 = {'apple', 'googlepixel', 'motog', 'nothing', 'samsung'}

set2.difference(set1)
#here from set2 we will be removing all the common elements that are common in both the sets. Remeber, difference operation is not an update on set2, it remains the same.

{'nothing'}

In [56]:
#inorder to update the set with the above made changes we will have to perform the below operation

#The difference_update() function in Python is used with sets to remove all elements in one set that are also present in another set. 
#It modifies the original set in place,rather than creating a new set.

#Use difference_update() when you want to modify an existing set by removing specific elements, rather than creating a new set with the differences.
set2.difference_update(set1)
print(set2)
print(set1)

{'nothing'}
{'googlepixel', 'apple', 'motog', 'samsung'}

In [58]:
#intersection
#Shows only the elements/items common in both the sets

set2.intersection(set1)
print(set2)

{'nothing'}

In [66]:
#To update the set with the above info
#intersection_update() keeps only the elements that are common between set1 and set2.

set2.intersection_update(set1)

In [68]:
print(set2)

set()

**DICTIONARY** : is a collection which is unordered, changeable and indexed. In python dictionaries are written using curly braces and they have keys and values.

In [71]:
dic = {}

In [73]:
type(dic)

dict

**Remember there's a difference between sets and dictionary. In sets, the elements are given normally while 
for a dictionary, the items are declared as key-value pairs.**

In [78]:
type(dict()) #By this we are basicaklly creating an empyty dictionary

dict

In [81]:
#Creating a dictionary

dict_1 = {'car1': 'benze', 'car2':'mercedes', 'car3':'minicooper', 'car4':'bmw'}

**Remember here we can use indexing but cannot retrieve elements using number indexing rather we need to specify the keys to retrieve the item values**

In [92]:
dict_1['car1']

'benze'

In [105]:
#iterating using dictionaries through keys

for i in dict_1:
    print(i)

car1
car2
car3
car4

In [109]:
#We can also iterate dictionaries through their values

for i in dict_1.values():
    print(i)

benze
mercedes
minicooper
bmw

In [111]:
#To iteration through both the key and value pairs

for i in dict_1.items():
    print(i)

('car1', 'benze')
('car2', 'mercedes')
('car3', 'minicooper')
('car4', 'bmw')

In [113]:
#To add elements to the dictionary
#Remember dictionary supports item assignment

dict_1['car4']='maruthi'

In [117]:
dict_1

{'car1': 'benze', 'car2': 'mercedes', 'car3': 'minicooper', 'car4': 'maruthi'}

**#But remember when we are trying to add another key with the same value that's present already, it overrides the existing value, let me show that to you**

In [120]:
dict_1['car1']='honda'

In [122]:
dict_1

{'car1': 'honda', 'car2': 'mercedes', 'car3': 'minicooper', 'car4': 'maruthi'}

In [124]:
#Just a point to remember- in MongoDB all the data is stored in key-value pairs

**NESTED DICTIONARY**

In [127]:
car1_model = {'mercedes':1960}
car2_model = {'audi':1970}
car3_model = {'ambassador': 1980}

In [133]:
car_model = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

**How is the indexing done or how do we retrieve the elements from this nested dictionary**

In [136]:
print(car_model['car1']) #Here, we get the corresponding value of that key

{'mercedes': 1960}

In [142]:
#But how do we extract just 1960? Let's see how it's done

print(car_model['car1']['mercedes']) #in this case we specify 2 keys

1960

**TUPLES** : Tuple is not mutable, also while defining a tuple we need to use () braces.

#Tuples are used where the definition of an item is required just once.

In [151]:
#define an empty tuple

tuple_1 = tuple()
print(type(tuple_1))

<class 'tuple'>

In [153]:
tuple_1 = ('mickey', 'oggy','ben')

In [155]:
tuple_1[0] #Supports indexing

'mickey'

In [157]:
tuple_1[0] = 'jack' #Tuple doesn't support item assignment

TypeError: 'tuple' object does not support item assignment